@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primaryColor : #FFFFFF;
    --secondaryColor : #8000FF;
    --lightMagentaPink : #FEB3DE;
    --magentaColor : #AD00FF;
    --blueMagenta : #C7C2FF;
    --magentaPink : #F766B9;
    --grayDark : #0E0E0E;
    --lightGrayDark : #191919;
    --dark-red : #1A1A1A;
    --dark-red-2 : #252525;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--grayDark);
}

/* NAVBAR */

nav a.navbar-brand {
    color: var(--primaryColor);
    font-size: 30px;
    font-weight: 600;
}

nav a.navbar-brand:hover {
    color: var(--blueMagenta);
}

nav a.navbar-brand span {
    color: var(--secondaryColor);
}

nav .nav-item a, a.active {
    color: var(--primaryColor) !important;
    font-size: 16px;
    font-weight: 300;
    margin:0 20px;
}

nav a.active {
    font-weight: 500;
}

nav .box-navBtn img {
    width: 26px;
}

/* About Saction */
.about {
    box-sizing: border-box;
    height: 120vh;
}

.about .banner img.banner-01{
    box-sizing: border-box;
    width: 680px;
}

.about .banner img.banner-02{
    box-sizing: border-box;
    width: 980px;
    height: 380px;
    margin-top: -130px;
}

.about .banner img.banner-03{
    box-sizing: border-box;
    width: 380px;
    top: 170px;
    right: 125px;
}

.about .banner img.banner-04{
    box-sizing: border-box;
    width: 24px;
    right: 0;
    bottom: 0;
}

.about .content {
    top: 0;
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about .content .row-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -65px;
    margin-left: 110px;
}

.about .content .row-1 h5 {
    width: 154px;
    font-size: 16px;
    font-weight: 300;
    text-align: right;
    margin-right: 24px;
    color: var(--primaryColor);
}

.about .content .row-1 h1 {
    font-size: 92px;
    font-weight: 300;
    color: var(--primaryColor);
}

.about .content .row-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 45px;
    align-items: start;
}

.about .content .row-2 .row-2_1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about .content .row-2 h1 {
    font-size: 92px;
    font-weight: 700;
    color: var(--secondaryColor);
}

.about .content .row-2 h1 span {
    color: var(--primaryColor);
}

.about .content .row-2 h4 {
    width: 551px;
    font-size: 22px;
    font-weight: 300;
    text-align: left;
    margin-left: 24px;
    line-height: 32px;
    padding-top: 14px;
    color: var(--primaryColor);
}

.about .content .row-3 {
    margin-left: -720px;
    margin-top: 65px;
}

.about .content .row-3 img {
    width: 140px;
}

/* Section Hiw */
.hiw {
    box-sizing: border-box;
    height: 100vh;
}

.hiw .col-01 {
    position: relative;
}

.hiw .col-01 .row-01 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: center;
    padding-right: 50px;
}

.hiw .col-01 .row-01 .content-01 {
    box-sizing: border-box;
    position: relative;
}

.hiw .col-01 .row-01 .content-01, .content-02 h1, label {
    color: var(--primaryColor);
}

.hiw .col-01 .row-01 .content-01 h1, .content-02 h1 {
    font-size: 112px;
    line-height: 150px;
}

.hiw .col-01 .row-01 .content-01 h1.text-1 {
    color: var(--lightMagentaPink);
}

.hiw .col-01 .row-01 .content-01 h1.text-2 {
    padding-left: 65px;
    position: absolute;
    z-index: 4;
}

.hiw .col-01 .row-01 .content-02 {
    text-align: right;
    margin-right: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
}

.hiw .col-01 .row-01 .content-02 h1 {
    z-index: 4;
}

.hiw .col-01 .row-01 .content-02 h1 span {
    color: var(--secondaryColor);
}

.hiw .col-01 .row-02 img.banner-05 {
    position: absolute;
    top: 90px;
    left: 470px;
    width: 415px;
    z-index: 1;
}

.hiw .col-01 .row-02 img.item-01 {
    position: absolute;
    width: 356px;
    bottom: -120px;
    left: 180px;
}

.hiw .col-01 .row-02 img.item-02 {
    position: absolute;
    right: 0;
    bottom: 110px;
    width: 220px;
}

.hiw .col-02 {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.hiw .col-02 .gradasi-01 img {
    width: 705.77px;
    position: absolute;
    top: -480px;
    right: 0;
    z-index: -3;
}

.hiw .col-02 .gradasi-02 img {
    width: 705.77px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -3;
}

.hiw .col-03 {
    display: flex;
    margin-top: 185px;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: baseline;
}

.hiw .col-03 .row-01 p {
    color: var(--primaryColor);
    font-size: 20px;
    padding: 0 106px;
    line-height: 42px;
    font-weight: 300;
}

.hiw .col-03 .row-02 {
    margin-left: 125px;
    margin-top: 190px;
}

.hiw .col-03 .row-02 img {
    width: 480px;
}

/* Section Project */
.project .container {
    padding: 130px 145px;
    margin-top: 750px;
    background-color: var(--secondaryColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.project .container .col-01 {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project .col-01 h2 {
    color: var(--primaryColor);
    font-size: 46px;
    margin-bottom: 65px;
}

.project .col-01 .card {
    border-radius: 45px;
    background-color: var(--lightMagentaPink);
    border-right-color: var(--blueMagenta);
    border-right-width: 80px;
    padding: 64px;
}

.project .col-01 .card .card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.project .card .card-body .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.project .card .card-body .card-content h4 {
    color: var(--primaryColor);
    font-size: 32px;
    font-weight: 400;
}

.project .card .card-body .card-content h3 {
    color: var(--primaryColor);
    font-size: 54px;
    font-weight: 500;
    line-height: 86px;
}

.project .card .card-body .card-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: flex-end;
}

.project .card .card-body .card-items img.items-5 {
    width: 180px;
}

.project .card .card-body .card-items img.items-4 {
    width: 110px;
}

/* Section Creator */
.creator .container {
    margin-top: 150px;
    box-sizing: border-box;
    border-top: 1px solid #FFFFFF;
}

.creator .container .col-01 {
    box-sizing: border-box;
    background-size: 100px;
    background-image: url("../images/gradasi-03.png");
    background-size: cover;
}

.creator .col-01 h1 {
    color: var(--primaryColor);
    font-size: 92px;
    padding: 90px 0;
    font-weight: 600;
}

.creator .col-01 h1 span {
    color: var(--secondaryColor);
}

.creator .col-02 img {
    box-sizing: border-box;
    object-fit: cover;
    margin-top: -10px;
    width: 100%;
}

.creator .col-02 .banner img.item-3 {
    position: absolute;
    width: 142px;
    top: 0;
    right: 0;
    margin-right: 320px;
    margin-top: -78px;
}

.creator .col-02 .content {
    background-color: #000000;
    padding: 70px 180px;
    margin-top: 0;
}

.creator .col-02 .content p {
    color: var(--primaryColor);
    font-size: 20px;
    font-weight: 300;
    padding-right: 360px;
}

/* Section Spirit */
.spirit .container {
    box-sizing: border-box;
    padding: 80px 40px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    margin-bottom: 70px;
}

.spirit .container .card {
    display: flex;
    margin: 0 20px;
    background-color: #0E0E0E;
}

.spirit .container .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 10px;
}

.spirit .container .card .card-body h3 {
    color: var(--primaryColor);
    font-size: 42px;
    font-weight: 500;
    line-height: 65px;
    margin-bottom: 20px;
}

.spirit .container .card .card-body h3 span {
    color: var(--lightMagentaPink);
}

.spirit .container .card .card-body .btn {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    border: none;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--primaryColor);
}

.spirit .container .card .card-body .btn img {
    width: 34px;
    margin-right: 10px;
}

/* Section OurPartner */
.ourPartner .container {
    background-color: var(--secondaryColor);
    border-radius: 80px 80px 0 0;
    padding: 138px 150px;
    padding-bottom: 250px;
    margin-top: 100px;
}

.ourPartner h2 {
    color: var(--primaryColor);
    font-size: 60px;
    margin-bottom: 54px;
}

.ourPartner .container .row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ourPartner .container .row .col img {
    width: 75%;
    margin: 32px 64px 32px 0;
}

/* Section newsLetter */
.newsLetter .container {
    background-color: var(--lightMagentaPink);
    border-radius: 80px 80px 0 0;
    padding: 205px 150px;
    margin-top: -100px;
}

.newsLetter .container .row h2 {
    color: var(--primaryColor);
    font-size: 60px;
    margin-bottom: 55px;
}

.newsLetter .container .row .input-group-newsletter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.newsLetter .container .row .input-group-newsletter input {
    width: 780px;
    height: 150px;
    font-size: 70px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    border-bottom: 3px solid #FFC8E8;
}

.newsLetter .container .row .input-group-newsletter input::placeholder {
    font-size: 80px;
    font-weight: 500;
    color: #FFC8E8;
}

.newsLetter .container .row .input-group-newsletter button {
    background-color: var(--secondaryColor);
    margin-left: 30px;
    padding: 30px;
    border-radius: 50%;
    border: none;
}

.newsLetter .container .row .input-group-newsletter button:hover {
    background-color: #5500a9;
    box-shadow: none;
}

/* Footer */
footer .container {
    box-sizing: border-box;
    background-color: var(--grayDark);
    border-radius: 80px 80px 0 0;
    margin-top: -75px;
    padding: 85px 0;
    box-sizing: border-box;
}

footer .container h3 {
    font-size: 26px;
    padding-left: 80px;
    color: var(--primaryColor);
    font-weight: 600;
}

footer .container h3 span {
    color: var(--secondaryColor);
}

footer .container h5 {
    color: var(--primaryColor);
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
}

footer .container p {
    color: var(--primaryColor);
    font-size: 18px;
    font-weight: 400;
}

footer .container .social-media i {
    font-size: 22px;
    margin-right: 15px;
    color: var(--primaryColor);
}



/* Responsive */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .about {
        height: 100vh;
    }
    
    .about .banner img.banner-01{
        box-sizing: border-box;
        width: 580px;
    }
    
    .about .banner img.banner-02{
        box-sizing: border-box;
        width: 830px;
        height: 380px;
        margin-top: -130px;
    }
    
    .about .banner img.banner-03{
        box-sizing: border-box;
        width: 350px;
        top: 160px;
        right: 110px;
    }
    
    .about .banner img.banner-04{
        box-sizing: border-box;
        width: 20px;
    }
    
    .about .content {
        top: 0;
        margin-top: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .about .content .row-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -85px;
        margin-left: 80px;
    }
    
    .about .content .row-1 h5 {
        width: 154px;
        font-size: 16px;
        font-weight: 300;
        text-align: right;
    }
    
    .about .content .row-1 h1 {
        font-size: 80px;
        font-weight: 300;
        color: var(--primaryColor);
    }
    
    .about .content .row-2 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 45px;
        align-items: start;
    }
    
    .about .content .row-2 h1 {
        font-size: 80px;
    }
    
    .about .content .row-2 h4 {
        width: 551px;
        font-size: 22px;
        font-weight: 300;
        text-align: left;
        margin-left: 24px;
        padding-top: 14px;
        color: var(--primaryColor);
    }
    
    .about .content .row-3 {
        margin-left: -620px;
        margin-top: 45px;
    }
    
    .about .content .row-3 img {
        width: 140px;
    }

    /* fsd */
    .hiw {
        height: 100vh;
        margin-top: 200px;
    }

    .hiw .col-01 {
        position: relative;
    }

    .hiw .col-01 .row-01 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-content: center;
        padding-right: 100px;
    }

    .hiw .col-01 .row-01 .content-01 {
        box-sizing: border-box;
        position: relative;
    }

    .hiw .col-01 .row-01 .content-01, .content-02 h1, label {
        color: var(--primaryColor);
    }

    .hiw .col-01 .row-01 .content-01 h1, .content-02 h1 {
        font-size: 82px;
        line-height: 110px;
    }

    .hiw .col-01 .row-01 .content-01 h1.text-2 {
        padding-left: 45px;
    }

    .hiw .col-01 .row-01 .content-02 {
        margin-left: 110px;
        padding-top: 140px;
    }

    .hiw .col-01 .row-02 img.banner-05 {
        position: absolute;
        top: 65px;
        left: 400px;
        width: 385px;
        z-index: 1;
    }

    .hiw .col-01 .row-02 img.item-01 {
        position: absolute;
        width: 300px;
        bottom: -100px;
        left: 200px;
    }

    .hiw .col-01 .row-02 img.item-02 {
        position: absolute;
        right: 0;
        bottom: 55px;
        width: 200px;
    }

    .hiw .col-03 {
        margin-top: 185px;
    }

    .hiw .col-03 .row-01 p {
        font-size: 18px;
        padding: 0 8px;
        margin-right: 85px;
        line-height: 39px;
        font-weight: 300;
    }

    .hiw .col-03 .row-02 {
        margin-left: 105px;
        margin-top: 190px;
    }

    .hiw .col-03 .row-02 img {
        width: 460px;
    }

        /* Section Project */
    .project .container {
        padding: 130px 145px;
        margin-top: 850px;
    }

    .project .col-01 h2 {
        font-size: 42px;
        margin-bottom: 65px;
    }

    .project .col-01 .card {
        border-radius: 45px;
        border-right-width: 80px;
        padding: 64px;
    }

    .project .card .card-body .card-content h4 {
        font-size: 26px;
    }

    .project .card .card-body .card-content h3 {
        font-size: 46px;
        font-weight: 500;
        line-height: 72px;
    }

    .project .card .card-body .card-items img.items-5 {
        width: 160px;
    }

    .project .card .card-body .card-items img.items-4 {
        width: 100px;
    }

    /* Section Creator */

    .creator .container .col-01 {
        padding-top: 180px;
    }

    .creator .col-01 h1 {
        font-size: 82px;
    }

    .creator .col-02 .banner img.item-3 {
        position: absolute;
        width: 112px;
        top: 0;
        right: 0;
        margin-right: 260px;
        margin-top: -66px;
    }

    .creator .col-02 .content {
        padding: 70px 180px;
    }

    .creator .col-02 .content p {
        font-size: 16px;
    }

    /* Section Spirit */
    .spirit .container {
        padding: 80px 40px;
        margin-bottom: 70px;
    }

    .spirit .container .card {
        margin: 0 20px;
    }

    .spirit .container .card .card-body {
        margin: 0 10px;
    }

    .spirit .container .card .card-body h3 {
        color: var(--primaryColor);
        font-size: 34px;
        font-weight: 500;
        line-height: 55px;
        margin-bottom: 20px;
    }

    .spirit .container .card .card-body h3 span {
        color: var(--lightMagentaPink);
    }

    .spirit .container .card .card-body .btn {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        border: none;
        align-items: center;
        font-size: 16px;
        font-weight: 400;
        color: var(--primaryColor);
    }

    .spirit .container .card .card-body .btn img {
        width: 34px;
        margin-right: 10px;
    }

    /* Section OurPartner */
    .ourPartner .container {
        background-color: var(--secondaryColor);
        border-radius: 80px 80px 0 0;
        padding: 138px 150px;
        padding-bottom: 250px;
    }

    .ourPartner h2 {
        color: var(--primaryColor);
        font-size: 50px;
        margin-bottom: 40px;
    }

    .ourPartner .container .row {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .ourPartner .container .row .col img {
        width: 75%;
        margin: 32px 64px 32px 0;
    }

    /* Section newsLetter */
    .newsLetter .container {
        margin-top: -100px;
        box-sizing: border-box;
    }

    .newsLetter .container .row {
        margin-left: -150px;
    }

    .newsLetter .container .row h2 {
        color: var(--primaryColor);
        font-size: 54px;
        margin-bottom: 35px;
    }

    .newsLetter .container .row .input-group-newsletter input {
        font-size: 62px;
        background-color: transparent;
        border: none;
        text-decoration: none;
        border-bottom: 3px solid #FFC8E8;
    }

    .newsLetter .container .row .input-group-newsletter input::placeholder {
        font-size: 62px;
        font-weight: 500;
        color: #FFC8E8;
    }

    .newsLetter .container .row .input-group-newsletter button {
        background-color: var(--secondaryColor);
        margin-left: 30px;
        padding: 30px;
        border-radius: 50%;
        border: none;
    }

    .newsLetter .container .row .input-group-newsletter button:hover {
        background-color: #5500a9;
        box-shadow: none;
    }

    /* Footer */
    footer .container {
        padding: 65px 0;
    }

    footer .container h3 {
        font-size: 22px;
    }

    footer .container h5 {
        font-size: 18px;
    }

    footer .container p {
        font-size: 14px;
    }

    footer .container .social-media i {
        font-size: 18px;
        margin-right: 12px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) { 
    nav a.navbar-brand {
        font-size: 24px;
    }

    nav .nav-item a, a.active {
        color: var(--primaryColor) !important;
        font-size: 14px;
        font-weight: 300;
        margin:0 20px;
    }

    .about {
        height: 95vh;
    }
    
    .about .banner img.banner-01{
        box-sizing: border-box;
        width: 480px;
    }
    
    .about .banner img.banner-02{
        box-sizing: border-box;
        width: 660px;
        height: 280px;
        margin-top: -130px;
    }
    
    .about .banner img.banner-03{
        box-sizing: border-box;
        width: 280px;
        top: 140px;
        right: 135px;
    }
    
    .about .banner img.banner-04{
        box-sizing: border-box;
        width: 20px;
    }
    
    .about .content {
        top: 0;
        margin-top: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .about .content .row-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -125px;
        margin-left: -25px;
    }
    
    .about .content .row-1 h5 {
        width: 154px;
        font-size: 12px;
        padding-left: 24px;
        font-weight: 300;
        text-align: right;
    }
    
    .about .content .row-1 h1 {
        font-size: 60px;
        font-weight: 300;
        color: var(--primaryColor);
    }
    
    .about .content .row-2 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 85px;
        align-items: start;
    }
    
    .about .content .row-2 h1 {
        font-size: 60px;
    }
    
    .about .content .row-2 h4 {
        width: 551px;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        margin-left: 24px;
        line-height: 22px;
        padding-right: 75px;
        padding-top: 10px;
        color: var(--primaryColor);
    }
    
    .about .content .row-3 {
        margin-left: -540px;
        margin-top: 25px;
    }
    
    .about .content .row-3 img {
        width: 90px;
    }

    /* fsd */
    .hiw {
        height: 100vh;
        margin-top: 70px;
    }

    .hiw .col-01 {
        position: relative;
    }

    .hiw .col-01 .row-01 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-content: center;
        padding-right: 95px;
    }

    .hiw .col-01 .row-01 .content-01 {
        box-sizing: border-box;
        position: relative;
    }

    .hiw .col-01 .row-01 .content-01, .content-02 h1, label {
        color: var(--primaryColor);
    }

    .hiw .col-01 .row-01 .content-01 h1, .content-02 h1 {
        font-size: 70px;
        line-height: 98px;
    }   

    .hiw .col-01 .row-01 .content-02 {
        margin-left: 110px;
        padding-top: 140px;
    }

    .hiw .col-01 .row-02 img.banner-05 {
        position: absolute;
        width: 345px;
        top: 55px;
        left: 295px;
        z-index: 1;
    }

    .hiw .col-01 .row-02 img.item-01 {
        position: absolute;
        width: 240px;
        bottom: -75px;
        left: 127px;
    }

    .hiw .col-01 .row-02 img.item-02 {
        position: absolute;
        right: 0;
        bottom: 55px;
        width: 185px;
    }

    .hiw .col-03 {
        margin-top: 185px;
    }

    .hiw .col-03 .row-01 p {
        font-size: 16px;
        padding: 0 6px;
        margin-right: 35px;
        line-height: 30px;
        font-weight: 300;
    }

    .hiw .col-03 .row-02 {
        margin-left: 70px;
        margin-top: 120px;
    }

    .hiw .col-03 .row-02 img {
        width: 440px;
    }

    /* Section Project */
    .project .container {
        padding: 130px 145px;
        margin-top: 700px;
    }

    .project .col-01 h2 {
        font-size: 42px;
        margin-bottom: 65px;
    }

    .project .col-01 .card {
        border-radius: 45px;
        border-right-width: 80px;
        padding: 64px;
    }

    .project .card .card-body .card-content h4 {
        font-size: 20px;
    }

    .project .card .card-body .card-content h3 {
        font-size: 34px;
        font-weight: 500;
        line-height: 56px;
    }

    .project .card .card-body .card-items img.items-5 {
        width: 120px;
    }

    .project .card .card-body .card-items img.items-4 {
        width: 80px;
    }

    /* Section Creator */

    .creator .container .col-01 {
        padding-top: 180px;
    }

    .creator .col-01 h1 {
        font-size: 62px;
    }

    .creator .col-02 .banner img.item-3 {
        position: absolute;
        width: 112px;
        top: 0;
        right: 0;
        margin-right: 260px;
        margin-top: -66px;
    }

    .creator .col-02 .content {
        padding: 70px 80px;
    }

    .creator .col-02 .content p {
        font-size: 16px;
    }

    /* Section Spirit */
    .spirit .container {
        padding: 60px 30px;
        margin-bottom: 70px;
    }

    .spirit .container .card {
        margin: 0 10px;
    }

    .spirit .container .card .card-body {
        margin: 0 10px;
    }

    .spirit .container .card .card-body h3 {
        color: var(--primaryColor);
        font-size: 28px;
        font-weight: 500;
        line-height: 55px;
        margin-bottom: 20px;
    }

    .spirit .container .card .card-body h3 span {
        color: var(--lightMagentaPink);
    }

    .spirit .container .card .card-body .btn {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        border: none;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        color: var(--primaryColor);
    }

    .spirit .container .card .card-body .btn img {
        width: 34px;
        margin-right: 10px;
    }

    /* Section OurPartner */
    .ourPartner .container {
        padding: 108px 130px;
        padding-bottom: 200px;
    }

    .ourPartner h2 {
        font-size: 42px;
        margin-bottom: 20px;
    }

    /* Section newsLetter */
    .newsLetter .container {
        padding: 155px 45px;
        margin-top: -100px;
    }

    .newsLetter .container .row h2 {
        color: var(--primaryColor);
        font-size: 45px;
        margin-bottom: 15px;
    }

    .newsLetter .container .row .input-group-newsletter input {
        width: 620px;
        height: 150px;
        font-size: 54px;
        background-color: transparent;
        border: none;
        text-decoration: none;
        border-bottom: 3px solid #FFC8E8;
    }

    .newsLetter .container .row .input-group-newsletter input::placeholder {
        font-size: 54px;
        font-weight: 500;
        color: #FFC8E8;
    }

    .newsLetter .container .row .input-group-newsletter button {
        background-color: var(--secondaryColor);
        margin-left: 30px;
        padding: 30px;
        border-radius: 50%;
        border: none;
    }

    .newsLetter .container .row .input-group-newsletter button:hover {
        background-color: #5500a9;
        box-shadow: none;
    }

    /* Footer */
    footer .container {
        padding: 65px 0;
    }

    footer .container h3 {
        font-size: 20px;
    }

    footer .container h5 {
        font-size: 14px;
        line-height: 25px;
    }

    footer .container p {
        font-size: 12px;
    }

    footer .container .social-media i {
        font-size: 14px;
        margin-right: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    nav a.navbar-brand {
        font-size: 20px;
    }

    nav .nav-item a, a.active {
        color: var(--primaryColor) !important;
        font-size: 12px;
        font-weight: 300;
        margin:0 20px;
    }

    .about {
        height: 95vh;
    }
    
    .about .banner img.banner-01{
        box-sizing: border-box;
        width: 400px;
    }
    
    .about .banner img.banner-02{
        box-sizing: border-box;
        width: 660px;
        height: 280px;
        margin-top: -130px;
    }
    
    .about .banner img.banner-03{
        display: none;
    }
    
    .about .banner img.banner-04{
        box-sizing: border-box;
        width: 15px;
    }
    
    .about .content {
        top: 0;
        margin-top: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .about .content .row-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -125px;
        margin-left: -65px;
    }
    
    .about .content .row-1 h5 {
        width: 154px;
        font-size: 10px;
        padding-left: 44px;
        font-weight: 300;
        text-align: right;
    }
    
    .about .content .row-1 h1 {
        font-size: 50px;
        font-weight: 300;
        color: var(--primaryColor);
    }
    
    .about .content .row-2 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 15px;
        align-items: start;
    }
    
    .about .content .row-2 h1 {
        font-size: 50px;
    }
    
    .about .content .row-2 h4 {
        width: 551px;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        margin-left: 24px;
        line-height: 22px;
        padding-right: 165px;
        padding-top: 5px;
        color: var(--primaryColor);
    }
    
    .about .content .row-3 {
        margin-left: -570px;
        margin-top: 25px;
    }
    
    .about .content .row-3 img {
        width: 80px;
    }

    /* hiw */
    .hiw {
        height: 100vh;
    }

    .hiw .col-01 {
        position: relative;
    }

    .hiw .col-01 .row-01 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-content: center;
        padding-right: 95px;
    }

    .hiw .col-01 .row-01 .content-01 {
        box-sizing: border-box;
        position: relative;
    }

    .hiw .col-01 .row-01 .content-01, .content-02 h1, label {
        color: var(--primaryColor);
    }

    .hiw .col-01 .row-01 .content-01 h1, .content-02 h1 {
        font-size: 50px;
        line-height: 78px;
    }   

    .hiw .col-01 .row-01 .content-02 {
        margin-left: 110px;
        padding-top: 140px;
    }

    .hiw .col-01 .row-02 img.banner-05 {
        position: absolute;
        width: 285px;
        top: 45px;
        left: 195px;
        z-index: 1;
    }

    .hiw .col-01 .row-02 img.item-01 {
        position: absolute;
        width: 160px;
        bottom: -35px;
        left: 87px;
    }

    .hiw .col-01 .row-02 img.item-02 {
        position: absolute;
        right: 0;
        bottom: 55px;
        width: 125px;
    }

    .hiw .col-03 {
        margin-top: 105px;
    }

    .hiw .col-03 .row-01 p {
        font-size: 12px;
        padding: 0 6px;
        margin-right: 20px;
        line-height: 25px;
        font-weight: 300;
    }

    .hiw .col-03 .row-02 {
        margin-left: 20px;
        margin-top: 120px;
    }

    .hiw .col-03 .row-02 img {
        width: 340px;
    }

    /* Section Project */
    .project .container {
        padding: 80px 95px;
        margin-top: 400px;
    }

    .project .col-01 h2 {
        font-size: 42px;
        margin-bottom: 45px;
    }

    .project .col-01 .card {
        border-radius: 45px;
        border-right-width: 80px;
        padding: 34px;
    }

    .project .card .card-body .card-content h4 {
        font-size: 18px;
    }

    .project .card .card-body .card-content h3 {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }

    .project .card .card-body .card-content button img {
        width: 26px;
    }

    .project .card .card-body .card-items img.items-5 {
        width: 80px;
    }

    .project .card .card-body .card-items img.items-4 {
        width: 60px;
    }

    /* Section Creator */

    .creator .container .col-01 {
        padding-top: 0;
    }

    .creator .col-01 h1 {
        font-size: 48px;
    }

    .creator .col-02 .banner img.item-3 {
        position: absolute;
        width: 82px;
        top: 0;
        right: 0;
        margin-right: 160px;
        margin-top: -50px;
    }

    .creator .col-02 .content {
        padding: 20px 0;
        padding-top: 40px;
        padding-left: 20px;
    }

    .creator .col-02 .content p {
        font-size: 12px;
    }

    /* Section Spirit */
    .spirit .container {
        padding: 30px 10px;
        margin-bottom: 50px;
    }

    .spirit .container .card {
        margin: 0 10px;
    }

    .spirit .container .card .card-body {
        margin: 0 5px;
    }

    .spirit .container .card .card-body h3 {
        color: var(--primaryColor);
        font-size: 18px;
        font-weight: 500;
        line-height: 35px;
        margin-bottom: 20px;
    }

    .spirit .container .card .card-body .btn {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        border: none;
        align-items: center;
        font-size: 12px;
        font-weight: 400;
        color: var(--primaryColor);
    }

    .spirit .container .card .card-body .btn img {
        width: 26px;
        margin-right: 8px;
    }

    /* Section OurPartner */
    .ourPartner .container {
        padding: 60px 60px;
        padding-bottom: 100px;
        margin: auto;
    }

    .ourPartner h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    /* Section newsLetter */
    .newsLetter .container {
        padding: 85px 35px;
        margin-top: -70px;
        padding-bottom: 200px;
    }

    .newsLetter .container .row h2 {
        color: var(--primaryColor);
        font-size: 34px;
        margin-bottom: 10px;
    }

    .newsLetter .container .row .input-group-newsletter input {
        width: 420px;
        height: 100px;
        font-size: 32px;
        background-color: transparent;
        border: none;
        text-decoration: none;
        border-bottom: 3px solid #FFC8E8;
    }

    .newsLetter .container .row .input-group-newsletter input::placeholder {
        font-size: 32px;
        font-weight: 500;
        color: #FFC8E8;
    }

    .newsLetter .container .row .input-group-newsletter button {
        background-color: var(--secondaryColor);
        margin-left: 30px;
        padding: 14px;
        border-radius: 50%;
        border: none;
    }

    /* Footer */

    footer .container {
        padding: 45px 0;
        margin-top: -100px;
    }

    footer .container h3 {
        font-size: 16px;
    }

    footer .container h5 {
        font-size: 12px;
        line-height: 20px;
    }

    footer .container p {
        font-size: 10px;
    }

    footer .container .social-media i {
        font-size: 12px;
        margin-right: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    nav a.navbar-brand {
        font-size: 20px;
    }

    nav .nav-item a, a.active {
        color: var(--primaryColor) !important;
        font-size: 12px;
        font-weight: 300;
        margin:0 20px;
    }

    .about {
        height: 95vh;
    }

    .about .container {
        display: flex;
    }
    
    .about .banner img.banner-01{
        box-sizing: border-box;
        width: 300px;
    }
    
    .about .banner img.banner-02{
        box-sizing: border-box;
        width: 360px;
        height: 180px;
        margin-top: -130px;
    }
    
    .about .banner img.banner-03{
        display: none;
    }
    
    .about .banner img.banner-04{
        box-sizing: border-box;
        width: 15px;
    }
    
    .about .content {
        top: 0;
        margin-top: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .about .content .row-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -165px;
        margin-left: -265px;
    }
    
    .about .content .row-1 h5 {
        width: 154px;
        font-size: 8px;
        padding-left: 64px;
        font-weight: 300;
        text-align: right;
    }
    
    .about .content .row-1 h1 {
        font-size: 35px;
        font-weight: 300;
        color: var(--primaryColor);
    }
    
    .about .content .row-2 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 15px;
        align-items: start;
    }
    
    .about .content .row-2 h1 {
        font-size: 35px;
    }
    
    .about .content .row-2 h4 {
        width: 551px;
        font-size: 12px;
        font-weight: 300;
        text-align: left;
        margin-left: 24px;
        line-height: 22px;
        padding-right: 265px;
        padding-top: 5px;
        color: var(--primaryColor);
    }
    
    .about .content .row-3 {
        margin-left: -570px;
        margin-top: 10px;
    }
    
    .about .content .row-3 img {
        width: 45px;
    }

    /* hiw */
    .hiw {
        height: 100vh;
        margin-top: -180px;
    }

    .hiw .col-01 {
        position: relative;
    }

    .hiw .col-01 .row-01 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-content: center;
        padding-right: 95px;
    }

    .hiw .col-01 .row-01 .content-01 {
        box-sizing: border-box;
        position: relative;
    }

    .hiw .col-01 .row-01 .content-01, .content-02 h1, label {
        color: var(--primaryColor);
    }

    .hiw .col-01 .row-01 .content-01 h1, .content-02 h1 {
        font-size: 35px;
        line-height: 58px;
    }  
    
    .hiw .col-01 .row-01 .content-02 label {
        font-size: 10px;
    }

    .hiw .col-01 .row-01 .content-02 {
        margin-left: 120px;
        padding-top: 80px;
    }

    .hiw .col-01 .row-02 img.banner-05 {
        position: absolute;
        width: 225px;
        top: 35px;
        left: 105px;
        z-index: 1;
    }

    .hiw .col-01 .row-02 img.item-01 {
        position: absolute;
        width: 120px;
        bottom: -35px;
        left: 27px;
    }

    .hiw .col-01 .row-02 img.item-02 {
        position: absolute;
        right: 0;
        bottom: 35px;
        width: 105px;
    }

    .hiw .col-03 {
        margin-top: 105px;
    }

    .hiw .col-03 .row-01 p {
        font-size: 10px;
        padding: 0 6px;
        margin-right: 20px;
        line-height: 20px;
        font-weight: 300;
    }

    .hiw .col-03 .row-02 {
        margin-left: 20px;
        margin-top: 120px;
    }

    .hiw .col-03 .row-02 img {
        width: 240px;
    }

    /* Section Project */
    .project .container {
        padding: 60px 45px;
        margin-top: 180px;
    }

    .project .col-01 h2 {
        font-size: 32px;
        margin-bottom: 35px;
    }

    .project .col-01 .card {
        border-radius: 45px;
        border-right-width: 80px;
        padding: 24px;
    }

    .project .card .card-body .card-content h4 {
        font-size: 14px;
    }

    .project .card .card-body .card-content h3 {
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
    }

    .project .card .card-body .card-content button img {
        width: 24px;
    }

    .project .card .card-body .card-items img.items-5 {
        width: 70px;
    }

    .project .card .card-body .card-items img.items-4 {
        width: 45px;
    }

    /* Section Creator */

    .creator {
        margin: -100px;
    }

    .creator .col-01 h1 {
        font-size: 38px;
    }

    .creator .col-02 .banner img.item-3 {
        position: absolute;
        width: 72px;
        top: 0;
        right: 0;
        margin-right: 120px;
        margin-top: -45px;
    }

    .creator .col-02 .content {
        padding: 10px 0;
        padding-top: 30px;
        padding-left: 20px;
    }

    .creator .col-02 .content p {
        font-size: 10px;
    }

    /* Section Spirit */
    .spirit .container {
        padding: 15px 5px;
        margin-bottom: 40px;
        margin-top: 103px;
    }

    .spirit .container .card {
        margin: 0 5px;
    }

    .spirit .container .card .card-body {
        margin: 0 5px;
    }

    .spirit .container .card .card-body h3 {
        color: var(--primaryColor);
        font-size: 14px;
        font-weight: 500;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .spirit .container .card .card-body .btn {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        border: none;
        align-items: center;
        font-size: 10px;
        font-weight: 400;
        color: var(--primaryColor);
    }

    .spirit .container .card .card-body .btn img {
        width: 20px;
        margin-right: 8px;
    }

    /* Section OurPartner */
    .ourPartner .container {
        padding: 50px;
        padding-bottom: 80px;
        margin: auto;
    }

    .ourPartner h2 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    /* Section newsLetter */
    .newsLetter .container {
        padding: 65px 15px;
        margin-top: -70px;
        padding-bottom: 150px;
    }

    .newsLetter .container .row h2 {
        color: var(--primaryColor);
        font-size: 22px;
        margin-bottom: 5px;
    }

    .newsLetter .container .row .input-group-newsletter input {
        width: 320px;
        height: 60px;
        font-size: 28px;
        background-color: transparent;
        border: none;
        text-decoration: none;
        border-bottom: 3px solid #FFC8E8;
    }

    .newsLetter .container .row .input-group-newsletter input::placeholder {
        font-size: 32px;
        font-weight: 500;
        color: #FFC8E8;
    }

    .newsLetter .container .row .input-group-newsletter button {
        background-color: var(--secondaryColor);
        margin-left: 10px;
        padding: 14px;
        border-radius: 50%;
        border: none;
    }

    .newsLetter .container .row .input-group-newsletter button img {
        width: 24px;
    }

    /* Footer */

    footer .container {
        padding: 35px 0;
        margin-top: -100px;
    }

    footer .container h3 {
        font-size: 14px;
    }

    footer .container h5 {
        font-size: 10px;
        line-height: 18px;
    }

    footer .container p {
        font-size: 8px;
    }

    footer .container .social-media i {
        font-size: 12px;
        margin-right: 10px;
    }
}

@media (max-width: 575.98px) { 
    nav a.navbar-brand {
        font-size: 18px;
    }

    nav .nav-item a, a.active {
        color: var(--primaryColor) !important;
        font-size: 12px;
        font-weight: 300;
        margin:0 20px;
    }

    .about {
        height: 95vh;
    }

    .about .container {
        display: flex;
    }
    
    .about .banner img.banner-01{
        box-sizing: border-box;
        width: 280px;
    }
    
    .about .banner img.banner-02{
        box-sizing: border-box;
        width: 330px;
        height: 160px;
        margin-top: -130px;
    }
    
    .about .banner img.banner-03{
        display: none;
    }
    
    .about .banner img.banner-04{
        box-sizing: border-box;
        width: 15px;
    }
    
    .about .content {
        top: 0;
        margin-top: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .about .content .row-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -165px;
        margin-left: -265px;
    }
    
    .about .content .row-1 h5 {
        width: 154px;
        font-size: 8px;
        padding-left: 64px;
        font-weight: 300;
        text-align: right;
    }
    
    .about .content .row-1 h1 {
        font-size: 26px;
        font-weight: 300;
        color: var(--primaryColor);
    }
    
    .about .content .row-2 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding-left: 35px;
        align-items: start;
    }
    
    .about .content .row-2 h1 {
        font-size: 26px;
    }
    
    .about .content .row-2 h4 {
        width: 551px;
        font-size: 10px;
        font-weight: 300;
        text-align: left;
        margin-left: 24px;
        line-height: 18px;
        padding-right: 265px;
        padding-top: 5px;
        color: var(--primaryColor);
    }
    
    .about .content .row-3 {
        margin-left: -570px;
        margin-top: 10px;
    }
    
    .about .content .row-3 img {
        width: 40px;
    }

    /* hiw */
    .hiw {
        height: 100vh;
        margin-top: -250px;
    }

    .hiw .col-01 {
        position: relative;
    }

    .hiw .col-01 .row-01 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-content: center;
        padding-right: 75px;
    }

    .hiw .col-01 .row-01 .content-01 {
        box-sizing: border-box;
        position: relative;
    }

    .hiw .col-01 .row-01 .content-01, .content-02 h1, label {
        color: var(--primaryColor);
    }

    .hiw .col-01 .row-01 .content-01 h1, .content-02 h1 {
        font-size: 30px;
        line-height: 48px;
    }  
    
    .hiw .col-01 .row-01 .content-02 label {
        font-size: 10px;
    }

    .hiw .col-01 .row-01 .content-02 {
        margin-left: 120px;
        padding-top: 80px;
    }

    .hiw .col-01 .row-02 img.banner-05 {
        position: absolute;
        width: 215px;
        top: 35px;
        left: 145px;
        z-index: 1;
    }

    .hiw .col-01 .row-02 img.item-01 {
        position: absolute;
        width: 100px;
        bottom: -25px;
        left: 57px;
    }

    .hiw .col-01 .row-02 img.item-02 {
        position: absolute;
        right: 0;
        bottom: 35px;
        width: 95px;
    }

    .hiw .col-03 {
        margin-top: 105px;
    }

    .hiw .col-03 .row-01 p {
        font-size: 10px;
        padding: 0 6px;
        margin-right: 30px;
        line-height: 20px;
        font-weight: 300;
    }

    .hiw .col-03 .row-02 {
        margin-left: 20px;
        margin-top: 100px;
    }

    .hiw .col-03 .row-02 img {
        width: 205px;
    }

    /* Section Project */
    .project .container {
        padding: 60px 45px;
        margin-top: 100px;
    }

    .project .col-01 h2 {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .project .col-01 .card {
        border-radius: 45px;
        border-right-width: 80px;
        padding: 24px;
    }

    .project .card .card-body .card-content h4 {
        font-size: 12px;
    }

    .project .card .card-body .card-content h3 {
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
    }

    .project .card .card-body .card-content button img {
        width: 20px;
    }

    .project .card .card-body .card-items img.items-5 {
        width: 70px;
    }

    .project .card .card-body .card-items img.items-4 {
        width: 45px;
    }

    /* Section Creator */

    .creator .container {
        margin-top: 70px;
    }

    .creator .container .col-01 h1 {
        font-size: 34px;
        padding: 32px 0;
    }

    .creator .container .col-02 .banner img.item-3 {
        position: absolute;
        width: 62px;
        top: 0;
        right: 0;
        margin-right: 120px;
        margin-top: -40px;
    }

    .creator .container .col-02 .content {
        padding: 10px 0;
        padding-top: 30px;
        padding-left: 20px;
    }

    .creator .col-02 .content p {
        font-size: 8px;
        margin: 20px 0;
        margin-top: -5px;
        padding: 0;
        padding-right: 105px;
    }

    /* Section Spirit */
    .spirit .container {
        padding: 15px 5px;
        margin-bottom: 40px;
        margin-top: 0px;
    }

    .spirit .container .card {
        margin: 0 5px;
    }

    .spirit .container .card .card-body {
        margin: 0 5px;
    }

    .spirit .container .card .card-body h3 {
        color: var(--primaryColor);
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .spirit .container .card .card-body .btn {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        border: none;
        align-items: center;
        font-size: 8px;
        font-weight: 400;
        color: var(--primaryColor);
    }

    .spirit .container .card .card-body .btn img {
        width: 18px;
        margin-right: 8px;
    }

    /* Section OurPartner */
    .ourPartner .container {
        padding: 50px;
        padding-bottom: 80px;
        margin: auto;
    }

    .ourPartner h2 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    /* Section newsLetter */
    .newsLetter .container {
        padding: 65px 15px;
        margin-top: -70px;
        padding-bottom: 150px;
    }

    .newsLetter .container .row h2 {
        color: var(--primaryColor);
        font-size: 20px;
        margin-bottom: 5px;
    }

    .newsLetter .container .row .input-group-newsletter input {
        width: 300px;
        height: 60px;
        font-size: 24px;
        background-color: transparent;
        border: none;
        text-decoration: none;
        border-bottom: 3px solid #FFC8E8;
    }

    .newsLetter .container .row .input-group-newsletter input::placeholder {
        font-size: 18px;
        font-weight: 500;
        color: #FFC8E8;
    }

    .newsLetter .container .row .input-group-newsletter button {
        background-color: var(--secondaryColor);
        margin-left: 10px;
        padding: 12px;
        border-radius: 50%;
        border: none;
    }

    .newsLetter .container .row .input-group-newsletter button img {
        width: 24px;
    }

    /* Footer */

    footer .container {
        padding: 35px 0;
        margin-top: -80px;
    }

    footer .container h3 {
        font-size: 14px;
    }

    footer .container h5 {
        font-size: 10px;
        line-height: 18px;
    }

    footer .container p {
        font-size: 8px;
    }

    footer .container .social-media i {
        font-size: 12px;
        margin-right: 10px;
    }
}



